
$footer-grad-height: 10%;
$footer-grad-start: $footer-height;

#footer {
  position: absolute;
  width: $nav-width * .95;
  left: (100% - $nav-width * .95) / 2;
  z-index: 3;
  height:  $footer-height;
  bottom: 0%;
  border-top: 1px solid black;
}

#footercontent {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 0%;
  height: 85%;
  width: 100%;
}

#footercontent > .dummy {
  display: table-cell;
}

#footercontent > .info {
  height: 100%;
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .8em;
  word-wrap: break-word;
}

#footerback{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: $footer-grad-start + $footer-grad-height;
  bottom: 0%;
  @include linear-gradient(bottom, rgba(255, 255, 255, $banner-opacity), rgba(255, 255, 255, $banner-opacity)
                                   percentage($footer-grad-start / ($footer-grad-height + $footer-grad-start)) , rgba(255, 255, 255, 0));
}
