
$frame-thickness: 2px;


.mid {
  z-index: 0;
}

.first, .last {
  z-index: 1;
}

#frame {
  position: fixed;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.vertical, .horizontal {
  opacity: 0;
  position: absolute;
}

.framecom {
  position: absolute;
}

//verticals

#frame .vertical {
  height: 100%;
  width: $frame-thickness;
}

.vertical .framecom {
  width: 100%;
}

#frame .vertical .first, .last {
  height: 50%;
}

#frame .vertical .mid {
  height: 100%;
  top: 0%;
  background: $frame-color;
}

#frame .vertical .first {
  bottom: 50%;
  @include frame-linear-gradient(bottom, $frame-color);
}

#frame .vertical .last {
  top: 50%;
  @include frame-linear-gradient(top, $frame-color);
}

#leftvert {
  right: 50%;
}

#rightvert{
  left: 50%;
}


//horizontals

.horizontal {
  width: 100%;
  height: $frame-thickness;
}

.horizontal .framecom {
  height: 100%;
}

#frame .horizontal .first, .last {
  width: 50%;
}

#frame .horizontal .mid {
  width: 100%;
  left: 0%;
  background: $frame-color;
}

#frame .horizontal .first {
  right: 50%;
  @include frame-linear-gradient(right, $frame-color);
}

#frame .horizontal .last {
  left: 50%;
  @include frame-linear-gradient(left, $frame-color);
}

#tophorz {
  bottom: 50%;
}

#bottomhorz{
  top: 50%;
}
