
$frame-color: #c0c0c0;
$frame-thickness: 2px;


#frame * {
  position: fixed;
}

#frame > * {
  opacity: 0;
}

//verticals

#frame .vertical {
  height: 100%;
  width: $frame-thickness;
}

#frame .vertical * {
  width: 100%;
}

#frame .vertical .first, .last {
  height: 50%;
}

#frame .vertical .mid {
  height: 100%;
  top: 0%;
  background: $frame-color;
}

#frame .vertical .first {
  bottom: 50%;
  @include frame-linear-gradient(bottom, $frame-color);
}

#frame .vertical .last {
  top: 50%;
  @include frame-linear-gradient(top, $frame-color);
}

#leftvert {
  right: 50%;
}

#rightvert{
  left: 50%;
}


//horizontals

#frame .horizontal {
  width: 100%;
  height: $frame-thickness;
}

#frame .horizontal * {
  height: 100%;
}

#frame .horizontal .first, .last {
  width: 50%;
}

#frame .horizontal .mid {
  width: 100%;
  left: 0%;
  background: $frame-color;
}

#frame .horizontal .first {
  right: 50%;
  @include frame-linear-gradient(right, $frame-color);
}

#frame .horizontal .last {
  left: 50%;
  @include frame-linear-gradient(left, $frame-color);
}

#tophorz {
  bottom: 50%;
}

#bottomhorz{
  top: 50%;
}
