
$front-image: 67%;
$front-top: ((1 - $nav-bottom) * $content-height + $header-top) * $header-height * 100%;
$img-percent: 80%;

#frontpage {
  top: $front-top;
  height: 100% - $front-top - $footer-height;
  width: 100%;
  position: absolute;
  overflow: hidden;
  opacity: 0;
}

#frontinfo{
  top: $front-image * (($img-percent + (100% - $img-percent) / 2) / 100%);
  height: 100% - $front-image;
  position: absolute;
  width: 100%;
}

 $frame-width: 70%;
 $frame-height: 70%;

#frontframe {
  position: absolute;
  height: 100%;
  width: 100%;
}

#frontframed {
  @include centered-absolute(58%);
  position: absolute;
  width: $frame-width;
  height: $frame-height;
  top: (100% - $frame-height) / 2;
  left: (100% - $frame-width) / 2;
  box-sizing: padding-box;
}


$frame-thickness: 2px;
@mixin frame-part($orientation){
  position: absolute;
  $way: null;
  $dim: null;
  @if $orientation {
    height: 2px;
    width: 100%;
    $way: left;
    $dim: $frame-width;
  } @else {
    height: 100%;
    width: 2px;
    $way: top;
    $dim: $frame-height;
  }
  $grad-point: ((100% - $dim) / 2) * .67;
  $stop-point: $grad-point / 3;
  @include linear-gradient($way, white, white $stop-point, $frame-color $grad-point, $frame-color (100% - $grad-point), white (100% - $stop-point), white);
}

#topfront {
  @include frame-part(true);
  top: (100% - $frame-height) / 2;
}

#bottomfront {
  @include frame-part(true);
  bottom: (100% - $frame-height) / 2;
}

#leftfront {
  @include frame-part(false);
  left: (100% - $frame-height) / 2;
}

#rightfront {
  @include frame-part(false);
  right: (100% - $frame-height) / 2;
}

#fronttext{
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  width: 70%;
  left: 15%;
  overflow: hidden;
  max-height: 80%;
}

#frontimagecon {
  position: absolute;
  top: 0;
  height: $front-image;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-height: $img-percent;
    max-width: 100%;
  }
}

