
$header-height: .2;
$header-top: .12;
$content-height: .7;
$nav-bottom: .2;
$nav-width: 70%;
$footer-height: ((1 - $nav-bottom) * $content-height + $header-top) * $header-height * 85%;
$frame-color: #c0c0c0;

@import 'mixins';
@import 'banner';
@import 'work';
@import 'frame';
@import 'decoration';
@import 'frontpage';

body {
  opacity: 0;
}

html, body {
 padding: 0;
 margin: 0;
 font-family: Palatino;
}




