
@import 'mixins';
@import 'frame';

html, body {
 padding: 0;
 margin: 0;
 font-family: baskerville;
}

$nav-width: 70%;

$header-height: .2;
$header-top: .12;
$grad-height: 17%;
$grad-start: ($header-height * 100%) - 2%;
$banner-opacity: .95;
$content-height: .7;
$nav-bottom: .2;

#banner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
}

#header {
  height: $header-height * 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#headercontent {
  height: $content-height * 100%;
  top: $header-top * 100%;
  width: 100%;
  position: absolute;
}

#headerback{
  width: 100%;
  position: absolute;
  z-index: 1;
  height: $grad-start + $grad-height;
  @include two-all-linear-gradient(top, rgba(255, 255, 255, $banner-opacity), rgba(255, 255, 255, $banner-opacity),
                                   percentage($grad-start / ($grad-height + $grad-start)) , rgba(255, 255, 255, 0));
}

$footer-height: ((1 - $nav-bottom) * $content-height + $header-top) * $header-height * 85%;
$footer-grad-height: 10%;
$footer-grad-start: $footer-height;

#footer {
  position: absolute;
  width: $nav-width * .95;
  left: (100% - $nav-width * .95) / 2;
  z-index: 3;
  height:  $footer-height;
  bottom: 0%;
  border-top: 1px solid black;
}

#footercontent {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 0%;
  height: 85%;
  width: 100%;
}

#footercontent > .dummy {
  display: table-cell;
}

#footercontent > .info {
  height: 100%;
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .8em;
  word-wrap: break-word;
}

#footerback{
  z-index: 1;
  position: absolute;
  width: 100%;
  height: $footer-grad-start + $footer-grad-height;
  bottom: 0%;
  @include two-all-linear-gradient(bottom, rgba(255, 255, 255, $banner-opacity), rgba(255, 255, 255, $banner-opacity),
                                   percentage($footer-grad-start / ($footer-grad-height + $footer-grad-start)) , rgba(255, 255, 255, 0));
}


#logo {
  @include clickable();
  pointer-events: none;
  position: absolute;
  height: 100%;
  z-index: 0;
  text-align: center;
  width: 100%;
}

#logo img {
  pointer-events: auto;
  max-height: 100%;
  max-width: 100%;
}

#nav {
  position: absolute;
  border-bottom: 1px solid black;
  width: $nav-width;
  left: (100% - $nav-width) / 2;
  display: table;
  bottom: 20%;
  padding-bottom: 3px;
  pointer-events: none;
}

#dummy{
  display: table-cell;
  width: 20%;
}  

#nav .button {
  @include clickable();
  pointer-events: auto;
  width: 15%;
  display: table-cell;
  text-align: center;
}

#bwork{
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 0;

  img {
    max-height: 80vh;
    max-width: 80vw;
    display: block;
    margin: 0 auto;
  }
}

$front-image: 60%;
$front-top: ((1 - $nav-bottom) * $content-height + $header-top) * $header-height * 100%;

#frontpage {
  top: $front-top;
  height: 100% - $front-top - $footer-height;
  width: 100%;
  position: absolute;
 
}
#frontinfo {
  position: absolute;
  top: $front-image;
  height: 100% - $front-image;
  width: 100%;
}
#fronttext{
  position: absolute;
  left: 25%;
  width: 50%;
  text-align: justify;
  display: flex;
  justify-content: center;
  align-items: center;
}
#frontimagecon {
  position: absolute;
  top: 0;
  height: $front-image;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    max-width: 75%;
    max-height: 80%;
  }
}

$decoration-height: .06;
$d-end-color: #FBFBFB;
$d-mid-color: #E0E0E0;
$d-fade-point: 40%;

@mixin decoration(){
  @include all-general-gradient(left, $d-end-color, $d-mid-color $d-fade-point, $d-mid-color (100% - $d-fade-point), $d-end-color );
  height: 45%;
  width: 100%;
  position: absolute;
}

#imagedecoration {
  height: $decoration-height * 100%;
  width: 100%;
  top: ((1 - $decoration-height) / 2) * 100%;
  position: fixed;
  z-index: -1;

  .top {
    @include decoration();
    top: 0%;
  }

  .bottom {
    @include decoration();
    bottom: 0%;
  }
}
