
@import 'mixins';
@import 'frame';

html, body {
 padding: 0;
 margin: 0;
 font-family: baskerville;
}

$nav-width: 70%;

$banner-height: 20%;
$grad-height: 17%;
$grad-start: $banner-height - 2;
$banner-opacity: .95;

#banner {
  position: fixed;
  width: 100%;
  height: 100%;
}

#header {
  height: $banner-height;
  width: 100%;
  position: absolute;
  z-index: 2;
}

#headerback{
  width: 100%;
  position: absolute;
  z-index: 1;
  height: $grad-start + $grad-height;
  @include two-all-linear-gradient(top, rgba(255, 255, 255, $banner-opacity), rgba(255, 255, 255, $banner-opacity),
                                   percentage($grad-start / ($grad-height + $grad-start)) , rgba(255, 255, 255, 0));
}

$footer-height: 10%;
$footer-grad-height: 10%;
$footer-grad-start: $footer-height;

#footer {
  position: absolute;
  width: $nav-width * .95;
  left: (100% - $nav-width * .95) / 2;
  z-index: 3;
  height: $footer-height;
  bottom: 0%;
  border-top: 1px solid black;
}

#footercontent {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 0%;
  height: 85%;
  width: 100%;
}

#footercontent > .dummy {
  display: table-cell;
}

#footercontent > .info {
  height: 100%;
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .8em;
  word-wrap: break-word;
}

#footerback{
  position: absolute;
  width: 100%;
  height: $footer-grad-start + $footer-grad-height;
  bottom: 0%;
  @include two-all-linear-gradient(bottom, rgba(255, 255, 255, $banner-opacity), rgba(255, 255, 255, $banner-opacity),
                                   percentage($footer-grad-start / ($footer-grad-height + $footer-grad-start)) , rgba(255, 255, 255, 0));
}

#headercontent {
  height: 70%;
  top: 12%;
  width: 100%;
  position: absolute;
}

#logo {
  @include clickable();
  position: absolute;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  text-align: center;
  width: 20%;
}

#logo img {
  max-height: 100%;
  max-width: 100%;
}

#nav {
  position: absolute;
  border-bottom: 1px solid black;
  width: $nav-width;
  left: (100% - $nav-width) / 2;
  display: table;
  bottom: 20%;
  padding-bottom: 3px;
}

#dummy{
  display: table-cell;
  width: 20%;
}  

#nav .button {
  @include clickable();
  width: 15%;
  display: table-cell;
  text-align: center;
}

#bwork{
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 0;

  img {
    max-height: 80vh;
    max-width: 80vw;
    display: block;
    margin: 0 auto;
  }
}

