.mid {
  z-index: 0; }

.first, .last {
  z-index: 1; }

#frame {
  position: fixed;
  width: 100%;
  height: 100%; }

.vertical, .horizontal {
  opacity: 0;
  position: absolute; }

.framecom {
  position: absolute; }

#frame .vertical {
  height: 100%;
  width: 2px; }

.vertical .framecom {
  width: 100%; }

#frame .vertical .first, .last {
  height: 50%; }

#frame .vertical .mid {
  height: 100%;
  top: 0%;
  background: #c0c0c0; }

#frame .vertical .first {
  bottom: 50%;
  background: -webkit-linear-gradient(bottom, #c0c0c0, white);
  background: -o-linear-gradient(bottom, #c0c0c0, white);
  background: -moz-linear-gradient(bottom, #c0c0c0, white);
  background: linear-gradient(bottom, #c0c0c0, white); }

#frame .vertical .last {
  top: 50%;
  background: -webkit-linear-gradient(top, #c0c0c0, white);
  background: -o-linear-gradient(top, #c0c0c0, white);
  background: -moz-linear-gradient(top, #c0c0c0, white);
  background: linear-gradient(top, #c0c0c0, white); }

#leftvert {
  right: 50%; }

#rightvert {
  left: 50%; }

.horizontal {
  width: 100%;
  height: 2px; }

.horizontal .framecom {
  height: 100%; }

#frame .horizontal .first, .last {
  width: 50%; }

#frame .horizontal .mid {
  width: 100%;
  left: 0%;
  background: #c0c0c0; }

#frame .horizontal .first {
  right: 50%;
  background: -webkit-linear-gradient(right, #c0c0c0, white);
  background: -o-linear-gradient(right, #c0c0c0, white);
  background: -moz-linear-gradient(right, #c0c0c0, white);
  background: linear-gradient(right, #c0c0c0, white); }

#frame .horizontal .last {
  left: 50%;
  background: -webkit-linear-gradient(left, #c0c0c0, white);
  background: -o-linear-gradient(left, #c0c0c0, white);
  background: -moz-linear-gradient(left, #c0c0c0, white);
  background: linear-gradient(left, #c0c0c0, white); }

#tophorz {
  bottom: 50%; }

#bottomhorz {
  top: 50%; }

html, body {
  padding: 0;
  margin: 0;
  font-family: baskerville; }

#banner {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1; }

#header {
  height: 20%;
  width: 100%;
  position: absolute;
  z-index: 2; }

#headerback {
  width: 100%;
  position: absolute;
  z-index: 1;
  height: 35%;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 51.42857%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 51.42857%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 51.42857%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: linear-gradient(top, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 51.42857%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */ }

#footer {
  position: absolute;
  width: 66.5%;
  left: 16.75%;
  z-index: 3;
  height: 10%;
  bottom: 0%;
  border-top: 1px solid black; }

#footercontent {
  display: table;
  table-layout: fixed;
  position: absolute;
  top: 0%;
  height: 85%;
  width: 100%; }

#footercontent > .dummy {
  display: table-cell; }

#footercontent > .info {
  height: 100%;
  width: 25%;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  font-size: .8em;
  word-wrap: break-word; }

#footerback {
  z-index: 1;
  position: absolute;
  width: 100%;
  height: 20%;
  bottom: 0%;
  background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: -moz-linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */
  background: linear-gradient(bottom, rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95) 50%, rgba(255, 255, 255, 0));
  /* For Safari 5.1 to 6.0 */ }

#headercontent {
  height: 70%;
  top: 12%;
  width: 100%;
  position: absolute; }

#logo {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  position: absolute;
  height: 100%;
  z-index: 1;
  visibility: hidden;
  text-align: center;
  width: 20%; }

#logo img {
  max-height: 100%;
  max-width: 100%; }

#nav {
  position: absolute;
  border-bottom: 1px solid black;
  width: 70%;
  left: 15%;
  display: table;
  bottom: 20%;
  padding-bottom: 3px; }

#dummy {
  display: table-cell;
  width: 20%; }

#nav .button {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  width: 15%;
  display: table-cell;
  text-align: center; }

#bwork {
  position: fixed;
  top: 100%;
  width: 100%;
  z-index: 0; }
  #bwork img {
    max-height: 80vh;
    max-width: 80vw;
    display: block;
    margin: 0 auto; }

/*# sourceMappingURL=w.css.map */
